
# eclipse
.classpath
.project
**/.settings/
**/target/
**/DEFAULT/
.factorypath

# mac files
.DS_Store

# misc
disc
*.iml

**/logs/
*.log


# STS4
.sts4-cache

# front-end
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

**/node_modules/
dist
dist-ssr
coverage
*.local
storybook-static

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
**/ui/**

# Eclipse 專案設定檔案
.settings/
.metadata/